/* /bitrix/css/exabit.scrollup/default.min.css?15042847621031 */
/* /bitrix/css/exabit.scrollup/custom_y1.min.css?1546074764213 */


/* Start:/bitrix/css/exabit.scrollup/default.min.css?15042847621031*/
.scrollup-btn{position:fixed;right:25px;bottom:25px;width:44px;height:44px;z-index:9999;border-radius:7px;background:#f7c221;cursor:pointer;box-shadow:4px 4px 11px 0 rgba(50,50,50,.4);-webkit-transition:all .7s ease-in-out;-moz-transition:all .7s ease-in-out;-o-transition:all .7s ease-in-out;-ms-transition:all .7s ease-in-out;transition:all .7s ease-in-out;-webkit-transform:translateZ(0)}@keyframes swing{15%{-webkit-transform:translateY(6px);transform:translateY(6px)}30%{-webkit-transform:translateY(-6px);transform:translateY(-6px)}50%{-webkit-transform:translateY(4px);transform:translateY(4px)}65%{-webkit-transform:translateY(-4px);transform:translateY(-4px)}80%{-webkit-transform:translateY(2px);transform:translateY(2px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}.scrollup-btn:hover svg{-webkit-animation:swing .8s ease;animation:swing .8s ease;pointer-events:none}.scrollup-btn svg{width:32px;height:32px;position:absolute;margin:auto;top:0;left:0;right:0;bottom:0;fill:#fff}.btn-hide{bottom:-100px}
/* End */


/* Start:/bitrix/css/exabit.scrollup/custom_y1.min.css?1546074764213*/
.scrollup-btn{border-radius:7px;right:2px;bottom:2px;background:#60c659;width:44px;height:44px}.btn-hide{transform: translateY(102px); -webkit-transform: translateY(102px)}.scrollup-btn svg{width:32px;height:32px}
/* End */
